@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.card {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: 0 4px 8px rgba(23, 77, 124, .3);
	padding: 10px;
	border-radius: var.$borderRadius;

	&__image-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: border-box;

		&>img {
			margin: 0 auto;
		}
	}

	&__title-wrapper {
		position: absolute;
		scrollbar-width: none;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		margin: 0;
		box-sizing: border-box;
		text-align: center;
		color: var.$lightColor;
		border-top-left-radius: 250px 40px;
		border-top-right-radius: 250px 40px;
		background: var.$accentColor;
		transition: .6s transform ease, .8s border-radius ease, .9s background ease;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}

	&__title {
		margin: 0;
		padding: .5em 0 1em 0;
	}

	&__subtitle {
		margin: 1em 0;
	}

	&__list {
		text-align: left;
	}

	&__list_catalog {
		overflow-y: auto;
	}

	&__item {
		margin-bottom: .5em;
	}

	&__item_catalog {
		@include mix.adaptivFont(14, 12);
		font-weight: 400;
	}

	&__slider-container {
		position: relative;
	}

	@media (any-hover: hover) {
		&:hover {
			cursor: pointer;
		}
	}
}