@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.form-container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.form-preloader {
  @extend %pseudoElement;
  visibility: hidden;
  opacity: 1;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  transition: opacity .5s ease;
  &._preloader-active {
    visibility: visible;
    opacity: 1;
  }

  &:before {
    @extend %pseudoElement;
    z-index: 3;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, .8);
    border-top-color: var.$lightColor;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form-callback {
  position: fixed;
  box-sizing: border-box;
  @include mix.displayFlex(flex, center, center);
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  min-height: 30px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
  color: var.$darkColor;
  @include mix.adaptivFont(16, 14);
  border-radius: 8px;
  background: var.$lightColor;
  box-shadow: 4px 2px 11px 1px rgba(1, 1, 1, .6);
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity .5s ease, transform .5s ease;

  &._form-callback-active {
    opacity: 1;
    transform: translateY(50px);
  }
}

.form {

  &__input {
    position: relative;
    &>input,
    &>textarea {
      width: 100%;
      margin-bottom: 1em;
      padding: 1em;
      box-sizing: border-box;
      color: var.$darkColor;
      outline: none;
      border-radius: 8px;
      border: none;
      background: var.$lightColor;
      transition: box-shadow .3s ease;

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px var.$darkColor inset !important;
        -webkit-text-fill-color: var.$darkColor !important;
        -webkit-backdrop-filter: unset;
      }

      &:focus {
        box-shadow: 0 10px 8px -4px rgba(154, 154, 154, .3);
      }
    }

    &>textarea {
      resize: none;
    }
  }

  &__check {
    margin-top: 1em;
    @include mix.adaptivFont(12, 8);
    line-height: 1.2em;
    text-align: center;
    &>p>a {
      font-size: 12px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}