@use '../base/variable' as var;
@use '../base/mixin' as mix;

.button {
	@include mix.displayFlex(flex, center, center);
	box-sizing: border-box;
	width: 100%;
	max-width: 270px;
	padding: 1em;
	@include mix.adaptivFont(16, 10);
	color: var.$darkColor;
	line-height: var.$generalLineHeight;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	border-radius: 8px;
	background: var.$accentColor;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: opacity .5s ease;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			opacity: .7;
		}
	}
}

.button_accent {
	background-color: var.$accentColorTwo;
}