@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.social {
	position: relative;

	&__list {
		@include mix.displayFlex(flex, start, center);
		gap: 18px
	}

	&__item {
		@media (any-hover: hover) {
			&:hover {
				.social__label {
					visibility: visible;
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}

	&__link {
		transition: opacity .6s ease;

		@media (any-hover: hover) {
			&:hover {
				opacity: .7;
			}
		}
	}
}