@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.social {
  position: relative;
  &__list {
    @include mix.displayFlex(flex, start, center);
    gap: 18px
  }

  &__item {
    @media (any-hover: hover) {
      &:hover {
        .social__label {
          visibility: visible;
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }

  &__icon {
    width: 2.6em;
    height: 2.6em;
    transition: opacity .3s ease;

    @media (any-hover: hover) {
      &:hover {
        opacity: .7;
      }
    }
  }

  &__label {
    z-index: 3;
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: -130%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    width: 100%;
    margin: 0 auto;
    padding: .8em;
    text-align: center;
    color: var.$lightColor;
    border-radius: 8px;
    background: var.$accentColorTwo;
    box-shadow: 0 10px 8px -4px rgba(1, 1, 1, 0.2);
    transition: transform .5s ease, opacity .5s ease;
  }
}