@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.swiper {
	width: 100%;
	max-width: 960px;
	height: 100%;
	margin: 0;
}

.swiper-slide {
	width: 100%;
	height: 100%;
}

.swiper-slide>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	width: 30px;
	height: 18px;
	font-size: 0;
	color: var.$lightColor;
}

.swiper-button-prev:after {
	background: url('../../assets/images/icon/prev.svg') center center / cover no-repeat;
}

.swiper-button-next:after {
	background: url('../../assets/images/icon/next.svg') center center / cover no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
	top: 95%;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	transition: .8s opacity ease, .4s transform ease;

	@media (any-hover: hover) {
		&:hover {
			opacity: .6;
		}
	}

	&:active {
		transform: scale(.8);
	}
}

.swiper-button-next {
	right: 30px;
}

.swiper-button-prev {
	left: 30px;
}

.swiper-pagination {

	&>span {
		background: var.$mainAccentBg;
	}
}

.swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	border-radius: 4px;
}