@use '../base/variable' as var;
@use '../base/extentsions';

.ticker {
	position: relative;
	overflow: hidden;
	padding: .5em 0;
	border-top: 2px solid var.$accentColorTwo;
	border-bottom: 2px solid var.$accentColorTwo;
	background: rgba(232, 200, 122, 0.1);

	&__wrapper {
		display: flex;
	}

	&__item {
		padding: 0 5px;
		color: var.$lightColor;
		font-weight: 700;
		font-size: 22px;
		letter-spacing: 0.8px;
		line-height: 1.3em;
		white-space: nowrap;
		flex-shrink: 0;
	}
}

@keyframes ticker {
	0% {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(-100%, 0, 0);
	}
}