@use "sass:map";
/// общие
$mainBg: #BE300C;
$mainAccentBg: #9F3119;

/// header 
$headerBg: rgba(40, 40, 40, .9);

; // background
$accentColor: linear-gradient(263.09deg, #F0D17B 0%, #CFA453 100%); // акцентный цвет и цвет скроллбара
$accentColorTwo: #E8C87A; // второй акцентный цвет и цвет скроллбара
$widthContainer: 1200; // max-width

$family: 'Circle', 'Arial', 'Helvetica', sans-serif; // font-family дефолтный шрифт
$subFamily: 'Mont', 'Arial', 'Helvetica', sans-serif; // font-family допшрифт шрифт

$generalBigTextSize: 18; // font-size текст который надо сделать чуть больше, чем основной
$generalBigTextSizeMin: 16; // font-size текст который надо сделать чуть больше, чем основной для экрана 320px
$generalTextSize: 16; // font-size основного текста
$generalTextSizeMin: 14; // font-size основного текста для экрана 320px

$generalLineHeight: 1.3em; // line-height основного текста
$generalBigLineHeight: 1.3em; // line-height основного болшого текста
$letterSpacing: 0.02em;

$generalColorText: #FBFBFB; // color основного текста
$subColorText: #4a4a4a; // color дополнительного текста

/// скроллбар общий радиус у блоков
$borderRadius: 8px;

/// заголовок главный
$titleColor: #FBFBFB; // color
$titleWeight: 700; // font-weight
$titleFontSize: 80; // font-size
$titleFontSizeMin: 50; // font-size
$titleHeight: 1.3em; // line-height
$titleTransform: uppercase; // text-transform

/// подзаголовок
$subTitleColor: #FBFBFB; // color
$subTitleWeight: 700; // font-weight
$subTitleFontSize: 32; // font-size
$subTitleFontSizeMin: 22; // font-size screen 320px
$subTitleHeight: 1.5em; // line-height

/// бургер
$colorBurger: #E8C87A;

/// кнопка вверх
$darkColor: #111111; // border, background for :before, :after, background for button-up__link
$lightColor: #fff; // hover background for :before, :after