@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/logo';

.footer {
	padding: 2em 0;
	@include mix.adaptivFont(14, 8);
	line-height: 1.3em;
	color: var.$lightColor;
	background-color: #282828;

	& p {
		margin: 0;
	}

	&__top-row,
	&__bottom-row {
		@include mix.displayFlex(flex, space-between, center);
	}

	&__top-row {
		margin-bottom: 1.5em;
	}

	&__bottom-row {
		color: #7E868E;
		@include mix.adaptivFont(13, 8);

		& a {
			@include mix.adaptivFont(13, 8);
			color: #7E868E;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__column {
		flex: 0 1 33.33%;
	}

	&__links {
		flex: 0 1 33.33%;
		@include mix.displayFlex(flex, center, center);
	}

	&__list {
		@include mix.displayFlex(flex, flex-end, center);
		flex-wrap: wrap;
	}

	&__link {
		display: block;
		padding: 0.5em;

		&:hover {
			text-decoration: underline;
		}
	}

	&__contactblock {
		@include mix.displayFlex(flex, flex-start, center);
		gap: 20px;
		margin-bottom: 1em;
	}

	&__author {
		flex: 0 1 33.33%;
		@include mix.displayFlex(flex, flex-end, center);
		font-style: normal;
	}
}