<footer class="footer">
	<div class="container">
		<div class="footer__top-row">
			<div class="footer__column">
				<div class="footer__contactblock">
					<div class="footer__contactinfo">
						<div class="footer__phone phone">
							<a href="tel:+79999999999" class="phone__link" title="Телефон">+7(999) 999-99-99</a>
						</div>
					</div>
					<div class="footer__social social">
						<ul class="social__list">
							<li><a href="https://wa.me/7999999999" class="social__link social__link_wa">
									<img src="../../assets/images/icon/wa.svg" alt="wa" title="WhatsApp Марина Шарм">
								</a>
							</li>
							<li><a href="https://t.me/MarinaSharm777" class="social__link social__link_wa">
									<img src="../../assets/images/icon/tg.svg" alt="tg" title="Telegram Марина Шарм">
								</a>
							</li>
						</ul>
					</div>
				</div>
				<p class="footer__address"><a
						href="https://www.google.com/maps/place/Park+Inn+by+Radisson+Pulkovskaya/@59.8442227,30.3137002,16z/	data=!4m9!3m8!1s0x4696311c96c86847:0xc3775861a2071276!5m2!4m1!1i2!8m2!3d59.8425633!4d30.3186681!16s%2Fm%2F0g59mpd?entry=ttu"
						title="Адрес места проевдения Всероссийского женского бизнес форума" target="_blank">Площадь победы 1,
						Санкт-Петербург</a></p>
			</div>
			<div class="footer__column">
				@@include('../modules/logo.html', {
				'class-logo-wrapper': 'footer__logo',
				'class-logo-link': 'footer__logo-link'
				})
			</div>
			<div class="footer__column">
				<ul class="footer__list">
					<li><a href="#aboutForum" class="footer__link">О форуме</a></li>
					<li><a href="#speakers" class="footer__link">Спикеры</a></li>
					<li><a href="#price" class="footer__link">Тарифы</a></li>
					<li><a href="#theme" class="footer__link">Темы</a></li>
					<li><a href="#place" class="footer__link">Место проеведения</a></li>
					<li><a href="#contact" class="footer__link">Обратная связь</a></li>
				</ul>
			</div>
		</div>
		<div class="footer__bottom-row">
			<p class="footer__column">© sharmclub.ru, 2023 | Шарм Медиа Клуб</p>
			<p class="footer__links">
				<a class="footer__privacy" title=" Политика конфиденциальности" target="_blank" href="/privacy.html">Политика
					конфиденциальности</a>
				<a class="footer__oferta" title="Оферта" target="_blank" href="/oferta.html">Оферта</a>
			</p>
			<address class="footer__author">
				<a title="Телеграм автора сайта" href="https://t.me/efremandre">Разработано
					efremandre по заказу Шарм Медиа Групп</a>
			</address>
		</div>
</footer>