<footer class="footer">
	<div class="container">
		<div class="footer__top-row">
			<div class="footer__column">
				<div class="footer__contactblock">
					<div class="footer__contactinfo">
						<div class="footer__phone phone">
							<a href="tel:+79112536688" class="phone__link" title="Телефон">+7 (911) 253-66-88</a>
						</div>
					</div>
					<div class="footer__social social">
						<ul class="social__list">
							<li><a href="https://wa.me/79112536688" class="social__link social__link_wa">
									<img src="../../assets/images/icon/wa.svg" alt="wa" title="WhatsApp Марина Шарм">
								</a>
							</li>
							<li><a href="https://t.me/SharmForum" class="social__link social__link_wa">
									<img src="../../assets/images/icon/tg.svg" alt="tg" title="Telegram Марина Шарм">
								</a>
							</li>
						</ul>
					</div>
				</div>
				<p class="footer__address"><a href="#" title="Адрес места проевдения Всероссийского женского бизнес Форума"
						target="_blank">г. Санкт-Петербург</a></p>
			</div>
			<div class="footer__column">
				@@include('../modules/logo.html', {
				'class-logo-wrapper': 'footer__logo',
				'class-logo-link': 'footer__logo-link'
				})
			</div>
			<div class="footer__column footer__nav-block">
				<ul class="footer__list">
					<li><a href="#aboutForum" class="footer__link">О Форуме</a></li>
					<li><a href="#speakers" class="footer__link">Спикеры</a></li>
					<li><a href="#price" class="footer__link">Тарифы</a></li>
					<li><a href="#theme" class="footer__link">Темы</a></li>
					<li><a href="#place" class="footer__link">Место проеведения</a></li>
					<li><a href="#contact" class="footer__link">Обратная связь</a></li>
				</ul>
			</div>
		</div>
		<div class="footer__bottom-row">
			<div class="footer__tech-info">
				<p class="footer__column">ООО «Шарм Медиа Групп»</p>
				<p class="footer__column">© sharmclub.ru, 2023</p>
				<p class="footer__links">
					<a class="footer__privacy" title=" Политика конфиденциальности" target="_blank" href="/privacy.html">Политика
						конфиденциальности</a>
					<a class="footer__oferta" title="Договор оферты" target="_blank" href="/files/oferta.pdf">Оферта</a>
				</p>
			</div>
			<address class="footer__author">
				<a title="Телеграм автора сайта" href="https://t.me/efremandre">Разработано по заказу ООО «Шарм Медиа Групп»</a>
			</address>
		</div>
	</div>
</footer>