<footer class="footer">
	<div class="container">
		<div class="footer__wrapper animation">
			<div class="footer__requisites">
				<p><a title="Политика конфиденциальности" target="_blank" href="/privacy.html">Политика конфиденциальности</a>
				</p>
			</div>
			<div class="footer__copyright">
				<p>ОГРН ИП 999999999999999999</p>
				<p>©SITENAME.ru, 2023</p>
				<address class="footer__author"><a title="Телеграм автора сайта" href="https://t.me/efremandre">задизайнено и
						разработано efremandre</a></address>
			</div>
		</div>
	</div>
</footer>