@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.main__about-forum {
	padding: 3em 0;
}

.about-forum {
	background: var.$mainAccentBg url('../../assets/images/about-forum/bg-decore-forum.png') center right no-repeat;

	&__row {
		@include mix.displayFlex(flex, start, center);
		flex-direction: row-reverse;
		margin: 0 -2em 3em -2em;
	}

	&__content {
		flex: 0 1 55%;
		padding: 0 2em;
	}

	&__title {
		margin-bottom: .5em;
		color: var.$lightColor;
		text-align: left;
	}

	&__text {
		margin: 1.5em 0;

		&>p {
			color: var.$lightColor;
			margin-bottom: 1em;
		}
	}

	&__list {
		padding-left: 10px;
		list-style-type: "– ";

		&>li {
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__image-wrapper {
		flex: 0 1 45%;
		height: 400px;
		overflow: hidden;
		padding: 0 2em;

		&>img {
			height: 100%;
			margin: 0 auto;
			object-fit: cover;
			border-radius: 8px;
		}
	}
}