@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.auction {
	position: relative;

	&__wrapper {
		position: relative;
		z-index: 2;
		padding: 2em;
		border: 2px solid var.$accentColorTwo;
		background: var.$mainAccentBg;
		border-radius: 8px;
	}

	&__image-wrapper {
		margin: 0 auto 1.5em auto;
		max-width: 500px;
	}

	&__description {
		margin-bottom: 1em;
		padding: 0 1em;
		text-align: center;
		@include mix.adaptivFont(22, 16);
		line-height: 1.3em;
	}

	&__button {
		margin: 0 auto;
	}
}