@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.auction {
	position: relative;

	&__wrapper {
		position: relative;
		z-index: 2;
		padding: 2em;
		border: 2px solid var.$accentColorTwo;
		background: var.$mainAccentBg;
		border-radius: 8px;
	}

	&__auction-slide {
		height: 100%;
	}

	&__description {
		margin: 1em 0;
		padding: 0 1em;
		text-align: center;
		@include mix.adaptivFont(22, 16);
		line-height: 1.3em;
	}

	&__autor {
		font-family: var.$subFamily;
		color: var.$accentColorTwo;
		@include mix.adaptivFont(24, 18);
	}

	&__button {
		margin: 0 auto;
	}
}

.mySwiperAuction {
	max-width: 100%;
}

.auction-slide {
	@include mix.displayFlex(flex, center, center);

	&__image-wrapper {
		height: 400px;
		overflow: hidden;
		border: 2px solid var.$accentColorTwo;
		border-radius: var.$borderRadius;

		&>img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}