@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.main__auction {
	padding: 3em 0;
}

.auction {
	position: relative;
	background-image: url('../../assets/images/stars.gif');

	&__wrapper {
		position: relative;
		z-index: 2;
		padding: 2em;
		border: 2px solid var.$accentColorTwo;
		box-shadow: 0px 0px 30px rgba(240, 209, 123, 0.4);
		background: var.$mainAccentBg;
		border-radius: 8px;
	}

	&__image-wrapper {
		margin: 0 auto 1.5em auto;
		max-width: 500px;
	}

	&__description {
		margin-bottom: 1em;
		padding: 0 1em;
		text-align: center;
		@include mix.adaptivFont(22, 16);
		line-height: 1.3em;
	}

	&__button {
		margin: 0 auto;
	}
}