@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.main__catalog {
	padding: 3em 0;
}

.catalog {
	&__title {
		margin: 1em 0;
	}

	&__item-title {
		font-weight: 600;
	}

	&__model,
	&__price {
		@include mix.adaptivFont(var.$generalTextSize, 12);
		font-weight: 400;
	}

	&__slider-container {
		position: relative;
	}
}

.card {
	&__image-wrapper_catalog {
		margin-bottom: 110px;
		padding: 40px 0;
	}

	&__title-wrapper_catalog {
		box-sizing: border-box;
		padding: 10px 20px;
	}

	&__title-wrapper_catalog {
		transform: translateY(78%);
	}
}