@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.contact {
	@include mix.displayFlex(flex, center, center);
	min-height: 80vh;
	color: var.$lightColor;
	// background: linear-gradient(88.64deg, rgba(207, 164, 83, 0.3) -9.77%, rgba(185, 144, 61, 0.3) -7.91%, rgba(189, 156, 78, 0.3) 19.9%, rgba(208, 183, 105, 0.3) 42.04%, rgba(226, 209, 151, 0.3) 59.66%, rgba(230, 227, 192, 0.3) 78.08%, rgba(218, 205, 131, 0.3) 99.52%, rgba(210, 187, 116, 0.3) 106.61%);

	&__wrapper {
		@include mix.displayFlex(flex, center, center);
		margin: 0 -1em;
		flex-wrap: unset;
	}

	&__title {
		margin-bottom: .3em;
		color: var.$darkColor;
	}

	&__contact-block {
		@include mix.displayFlex(flex, center, center);
		flex-direction: column;
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
		padding: 0 1em;
		color: var.$darkColor;
	}

	&__contact-description {
		margin-bottom: 15px;
		text-align: center;
	}

	&__form-container {
		width: 100%;
	}

	&__button-form {
		max-width: 100%;
		color: var.$lightColor;
		background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
			linear-gradient(262.56deg, #292B32 0%, #0C0D10 100%);
	}
}