@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.main__fullscreen {
	position: relative;
}

.fullscreen {
	@include mix.displayFlex(flex, center, center);
	height: 100%;
	min-height: 100vh;
	background: url('../../assets/images/hero/hero-bg.png') top center / cover no-repeat;

	@media (any-hover: hover) {
		background-attachment: fixed;
	}

	&__wrapper {
		@include mix.displayFlex(flex, center, center);
		flex-direction: column;
		position: relative;
		width: 100%;
		padding-bottom: 1em;
		text-align: center;
		letter-spacing: 0.02em;
	}

	&__main-title {
		margin-bottom: 0.3em;
	}

	&__subtitle {
		@include mix.adaptivFont(20, var.$generalBigTextSizeMin);
		margin-bottom: 1em;
		color: #FFFFFF;
	}

	&__buttons {
		@include mix.displayFlex(flex, center, center);
		width: 100%;
	}

	&__button {
		box-sizing: border-box;
	}

	@media (any-hover: none) {
		&__button_order-call {
			display: none;
		}

		&__button_call {
			display: flex;
		}
	}

	@media (any-hover: hover) {
		&__button_order-call {
			display: flex;
		}

		&__button_call {
			display: none;
		}
	}

	&__ticker {
		position: absolute;
		left: 0;
		bottom: 50px;
		width: 100%;
		background: var.$accentColorTwo;

		& .ticker__item {
			animation: ticker 15s linear infinite;
		}
	}
}