@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.main__fullscreen {
	position: relative;
}

.fullscreen {
	@include mix.displayFlex(flex, center, center);
	height: 100%;
	min-height: 100vh;
	background: url('../../assets/images/hero/hero-bg.png') top center / cover no-repeat;

	@media (any-hover: hover) {
		background-attachment: fixed;
	}

	&__wrapper {
		@include mix.displayFlex(flex, center, flex-start);
		flex-direction: column;
		position: relative;
		width: 100%;
		padding-bottom: 1em;
		letter-spacing: 0.02em;
	}

	&__info {
		@include mix.displayFlex(flex, flex-start, center);
		gap: 10px;
		flex-wrap: wrap;
	}

	&__date,
	&__address {
		position: relative;
		padding-left: 10px;
		font-weight: 700;
		@include mix.adaptivFont(16, 10);
		letter-spacing: 0.8px;
		text-transform: uppercase;
		text-shadow: 0 0 26px rgba(0, 0, 0, 0.8);

		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			width: 2px;
			height: 100%;
			background: #fff;
			transform: translateY(-50%);
		}
	}

	&__date {
		@include mix.adaptivFont(26, 18);
		color: var.$accentColorTwo;
	}

	&__address {
		text-decoration: underline;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__main-title {
		margin-bottom: 0.3em;
		text-shadow: 0 0 26px rgba(0, 0, 0, 0.8);
		font-family: 'Fira Sans', sans-serif;
	}

	&__subtitle {
		@include mix.adaptivFont(20, 14);
		margin-bottom: 2em;
		color: var.$lightColor;
		text-shadow: 0 0 26px rgba(0, 0, 0, 0.8);
	}

	&__buttons {
		@include mix.displayFlex(flex, flex-start, center);
		gap: 40px;
		width: 100%;
		flex-wrap: wrap;
	}

	&__button {
		box-sizing: border-box;
	}

	&__button-backcall {
		@include mix.adaptivFont(16, 10);
		text-decoration-line: underline;
		text-transform: uppercase;
		text-shadow: 0 0 26px rgba(0, 0, 0, 0.8);

		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__ticker {
		position: absolute;
		left: 0;
		bottom: 7%;
		width: 100%;

		& .ticker__item {
			animation: ticker 12s linear infinite;
		}
	}
}