@use '../base/variable' as var;
@use 'fullscreen';
@use 'about-forum';
@use 'speakers';
@use 'timing';
@use 'auction';
@use 'price';
@use 'wrapper-bg';
@use 'organizers';
@use 'partners';
@use 'contact';

.main {
	flex: 1 1 auto;
	background: var.$mainBg;
	transition: background-color 1000ms;

	&__about-forum,
	&__speakers,
	&__auction,
	&__timing,
	&__price,
	&__organizers,
	&__partners,
	&__contact {
		padding: 3em 0;
	}
}