@use '../base/variable' as var;
@use 'fullscreen';
@use 'about-forum';
@use 'speakers';
@use 'theme';
@use 'auction';
@use 'place';
@use 'price';
@use 'wrapper-bg';
@use 'organizers';
@use 'partners';
@use 'contact';
@use '../modules/modal-img';

.main {
	flex: 1 1 auto;
	background: var.$mainBg;
}