@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.organizers {
	position: relative;
	z-index: 2;

	&__row {
		@include mix.displayFlex(flex, start, stretch);
		gap: 30px;
	}

	&__card {
		flex: 0 1 33.33%;
		@include mix.displayFlex(flex, center, center);
		padding: 2em;
		border: 2px solid var.$accentColorTwo;
		border-radius: var.$borderRadius;
		background: var.$mainAccentBg url('../../assets/images/organizers/bg-decore-organisations-card.svg') center top / cover no-repeat;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		transition: background-size 10s ease;

		@media (any-hover: hover) {
			&:hover {
				background-size: 150% 150%;
			}
		}
	}

	&__card-title {
		font-family: var.$subFamily;
		@include mix.adaptivFont(18, 16);
		line-height: 1.3em;
		text-align: center;
		letter-spacing: 1.3px;
		text-transform: uppercase;
	}
}