@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.partners {
	position: relative;
	z-index: 2;
	overflow-x: hidden;

	&__card {
		flex-shrink: 0;
		@include mix.displayFlex(flex, center, center);
		padding: .5em;
		width: 100%;
		border: 2px solid var.$accentColorTwo;
		border-radius: var.$borderRadius;
		background: var.$mainAccentBg;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		transition: background-size 10s ease;
	}

	&__wrapper-image {
		overflow: hidden;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		border: 2px solid var.$accentColorTwo;

		&>img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	&__bottom {
		@include mix.displayFlex(flex, center, center);
		flex-direction: column;
		margin-top: 2em;

		&>p {
			font-family: var.$subFamily;
			margin: 1em 0;
			@include mix.adaptivFont(26, 18);
			line-height: 1.3em;
		}
	}

}

.mySwiperPartners {
	max-width: 100%;
	min-height: 220px;

	.swiper-button-prev,
	.swiper-button-next {
		top: 90%;
	}

	// .swiper-button-next {
	// 	left: 50%;
	// }

	// .swiper-button-prev {
	// 	right: 50%;
	// }
}