@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.main__price {
	padding: 3em 0;
}

.price {
	// var.$mainAccentBg
	background: url('../../assets/images/about-forum/bg-decore-forum.png') center right no-repeat;

	&__ticker {
		& .ticker__item {
			animation: ticker 30s linear infinite;
		}
	}

	&__wrapper-card {
		margin: 2em 0;
		scrollbar-color: var.$accentColorTwo #FFFFFF;
		scrollbar-width: thin;

		&::-webkit-scrollbar {
			width: 0;
			height: 6px;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 50px;
	}

	&__card {
		display: flex;
		flex-direction: column;
		border: 2px solid var.$accentColorTwo;
		border-radius: var.$borderRadius;
		background: var.$mainAccentBg;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, .4);
		transition: box-shadow 1s ease;

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
			}
		}
	}

	&__card-title {
		padding: .5em;
		background: var.$accentColor;

		&>h3 {
			text-align: center;
			color: var.$lightColor;
		}
	}

	&__description {
		flex: 1 1 auto;
		padding: 2em 1em 1em;
	}

	&__bottom {
		padding: 1em;
	}

	&__list {
		margin-left: 20px;
		list-style: disc;

		&>li {
			line-height: 1.6em;
		}
	}

	&__label {
		@include mix.displayFlex(flex, center, center);
		padding: 1em;
		border: 2px solid var.$accentColorTwo;
		border-radius: var.$borderRadius;
		margin-bottom: 1em;

		&>p {
			@include mix.adaptivFont(22, 16);
			line-height: 1.3em;
		}
	}

	&__button {
		max-width: 400px;
	}
}