@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.speakers {
	position: relative;
	overflow: hidden;

	&__title {
		margin-bottom: 2em;
		position: relative;
		z-index: 2;
	}

	&__grid {
		width: 100%;
		position: relative;
		z-index: 2;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 120px 20px;
		transition: transform .5s ease-in;
	}
}

.card-speacker {
	@include mix.displayFlex(flex, flex-start, stretch);
	perspective: 1000px;
	box-sizing: content-box;
	border-radius: var.$borderRadius;
	background: rgba(130, 51, 34, .2);


	&__body {
		flex: 1 1 auto;
		box-sizing: border-box;
		position: relative;
		width: 100%;
		border: 2px solid var.$accentColorTwo;
		border-radius: var.$borderRadius;
		transition: transform .6s;
		transform-style: preserve-3d;

		&.flipped {
			transform: rotateY(180deg);

			.card-speacker__image-wrapper {
				transform: translateY(0) scale(0);
				transition: transform .6s ease;
			}
		}
	}

	&__front,
	&__back {
		box-sizing: border-box;
		@include mix.displayFlex(flex, flex-start, stretch);
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding: 16px;
		text-align: center;
		backface-visibility: hidden;
		border-radius: var.$borderRadius;
		background: var.$mainAccentBg;

		& h3 {
			margin: .8em 0;
			font-family: var.$subFamily;
			line-height: 1.3em;
			@include mix.adaptivFont(32, 18);
		}

		& span {
			font-weight: 700;
		}
	}

	&__back {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__front {
		z-index: 2;

		& h3 {
			margin: .8em 0 0;
		}
	}

	&__image-block {
		height: 240px;
	}

	&__image-wrapper {
		overflow: hidden;
		transform: translateY(-30%);
		width: 100%;
		max-width: 340px;
		margin: 0 auto;
		border: 2px solid var.$accentColorTwo;
		border-radius: 50%;
		transition: transform .7s ease;

		&>img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		flex: 1 1 auto;
		@include mix.displayFlex(flex, flex-start, stretch);
		flex-direction: column;
		gap: 14px;
	}

	&__competencies {
		flex: 1 1 auto;
		@include mix.adaptivFont(14, 10);
		margin-bottom: 1em;
	}

	&__buttons {
		@include mix.displayFlex(flex, center, center);
		flex-direction: column;
		gap: 14px;
	}

	&__theme,
	&__slogan {
		width: 100%;
		padding: 0.5em;
		border: 2px solid var.$accentColorTwo;
		border-radius: var.$borderRadius;
	}

	&__button {
		max-width: 100%;
	}

	&__back {
		overflow: hidden;
		transform: rotateY(180deg);
	}

	&__bio {
		overflow: auto;
		height: 70%;
		text-align: left;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__list {
		list-style: disc;
		padding-left: 20px;
		line-height: 1.3em;

		&>li {
			margin-bottom: 1em;
		}
	}

	&__slogan {
		width: 100%;
		margin-top: 10px;
		text-align: left;
	}
}

// анимация фона
.light {
	position: absolute;
	z-index: 1;
	margin: auto;
	width: 0;
	top: 20vh;
	bottom: 0px;
	left: 0px;
	right: 0px;
	opacity: 1;
	background-color: var.$accentColorTwo;
	box-shadow: var.$accentColorTwo 0px 0px 16px 2px;
}

.x1 {
	animation: floatUp 8s infinite linear;
	transform: scale(1.0);
}

.x2 {

	animation: floatUp 7s infinite linear;
	transform: scale(1.6);
	left: 15%;
}

.x3 {
	animation: floatUp 2.5s infinite linear;
	transform: scale(.5);
	left: -15%;
}

.x4 {
	animation: floatUp 4.5s infinite linear;
	transform: scale(1.2);
	left: -34%;
}

.x5 {
	animation: floatUp 8s infinite linear;
	transform: scale(2.2);
	left: -57%;
}

.x6 {
	animation: floatUp 3s infinite linear;
	transform: scale(.8);
	left: -81%;
}

.x7 {
	animation: floatUp 5.3s infinite linear;
	transform: scale(3.2);
	left: 37%;
}

.x8 {
	animation: floatUp 4.7s infinite linear;
	transform: scale(1.7);
	left: 62%;
}

.x9 {
	animation: floatUp 4.1s infinite linear;
	transform: scale(0.9);
	left: 85%;
}


@keyframes floatUp {
	0% {
		top: 100vh;
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		top: 0vh;
		opacity: .8;
	}

	75% {
		opacity: 1;
	}

	100% {
		top: -100vh;
		opacity: 0;
	}
}