@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.wrapper-bg {
	position: relative;
	overflow: hidden;
}

.wrapper__light {
	visibility: hidden;
	opacity: 0;
	transition: opacity .6s;

	&._active {
		visibility: visible;
		opacity: 1;
	}
}

// анимация фона
.light {
	position: absolute;
	// z-index: 1;
	margin: auto;
	width: 0;
	top: 20vh;
	bottom: 0px;
	left: 0px;
	right: 0px;
	opacity: 1;
	background-color: var.$accentColorTwo;
	box-shadow: var.$accentColorTwo 0px 0px 16px 2px;
	transition: visibility .6s;
}

.x1 {
	animation: floatUp 8s infinite linear;
	transform: scale(1.0);
}

.x2 {

	animation: floatUp 7s infinite linear;
	transform: scale(1.6);
	left: 15%;
}

.x3 {
	animation: floatUp 2.5s infinite linear;
	transform: scale(.5);
	left: -15%;
}

.x4 {
	animation: floatUp 4.5s infinite linear;
	transform: scale(1.2);
	left: -34%;
}

.x5 {
	animation: floatUp 8s infinite linear;
	transform: scale(2.2);
	left: -57%;
}

.x6 {
	animation: floatUp 3s infinite linear;
	transform: scale(.8);
	left: -81%;
}

.x7 {
	animation: floatUp 5.3s infinite linear;
	transform: scale(3.2);
	left: 37%;
}

.x8 {
	animation: floatUp 4.7s infinite linear;
	transform: scale(1.7);
	left: 62%;
}

.x9 {
	animation: floatUp 4.1s infinite linear;
	transform: scale(0.9);
	left: 85%;
}


@keyframes floatUp {
	0% {
		top: 100vh;
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		top: 0vh;
		opacity: .8;
	}

	75% {
		opacity: 1;
	}

	100% {
		top: -100vh;
		opacity: 0;
	}
}