@use './base/variable' as var;
@use './base/mixin' as mix;
@use './base/extentsions';

@media (max-width: 1200px) and (min-width: 986.98px) {
	.card-speacker {
		&__image-block {
			height: 210px;
		}

		&__name {
			&>h3 {
				margin: 0;
			}
		}
	}
}

@media screen and (max-width: 989.98px) {

	.swiper-button-next {
		right: 0;
	}

	.swiper-button-prev {
		left: 0;
	}

	.main {
		&__contact {
			padding: 2em 0;
		}
	}

	.card-speacker {
		&__image-block {
			height: 240px;
		}
	}

}

@media screen and (max-width: 769.98px) {

	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}

	.navigation {
		opacity: 1;

		&__wrapper {
			gap: 30px;
		}

		&__block {
			@include mix.displayFlex(flex, start, center);
			gap: 0 30px;
		}

		&__buttons {
			gap: 1.5em;
		}

		&__button {
			max-width: 160px;
			padding: 1.2em 1em;
		}
	}

	.phone {
		&__link {
			font-size: 14px;
		}
	}

	.fullscreen {
		&__wrapper-image {
			height: 300px;
			margin: 0;
		}
	}

	.about-forum {
		&__row {
			flex-direction: row-reverse;
			flex-direction: column;
			gap: 1em;
			margin: 0 0 1em;
		}

		&__image-wrapper {
			flex: 0 1 80%;
			width: 80%;
			height: 300px;
		}
	}

	.card-speacker {
		&__image-block {
			height: 210px;
		}

		&__image-wrapper {
			max-width: 300px;
		}

		&__content {
			gap: 10px;
		}
	}
}

@media screen and (max-width: 569.98px) {
	.container {
		padding: 0 1em;
	}

	.fullscreen {
		&__feature-body {
			display: none;
		}

		&__buttons {
			width: 100%;
			gap: 20px;
		}
	}

	.auction {
		&__wrapper {
			padding: 1em;
		}

		&__description {
			padding: 0;
		}
	}

	.footer {
		&__logo {
			display: block;
			flex: 0 1 100px;
		}
	}
}

@media screen and (max-width: 429.98px) {

	.navigation {
		&__buttons {
			gap: 10px;
		}
	}

	.about-forum {
		&__row {
			gap: .5em;
			margin: 0 0 .5em;
		}

		&__image-wrapper {
			width: 100%;
			height: 200px;
		}
	}

	.footer {
		&__wrapper {
			display: block;
		}

		&__requisites {
			margin-bottom: 1em;
			text-align: center;
		}

		&__copyright {
			text-align: center;

			&>p {
				margin-bottom: 1em;
			}
		}
	}

}

@media screen and (max-width: 319.98px) {
	.container {
		padding: 0 0.5em;
	}

	.wrapper-bcard {
		padding: 0;
	}

	.social-bgcard {
		&__list {
			display: block;

			&>li {
				margin-bottom: 1em;
			}
		}
	}
}

@media (any-hover: none) and (orientation: landscape) {}