@use './base/variable' as var;
@use './base/mixin' as mix;
@use './base/extentsions';

@media screen and (min-width: 1200px) {
	.container-bcard {
		flex-direction: row;
		gap: 20px;
		max-width: 1000px;
	}

	.header-bcard {
		&__wrapper {
			@include mix.displayFlex(flex, center, center);
			flex-direction: column;
			height: 100%;
			box-sizing: border-box;
			border-radius: 8px;
		}
	}

	.main-bcard {
		padding: 0;
	}

	.footer-bcard {
		&__wrapper {
			@include mix.displayFlex(flex, center, center);
			height: 100%;
			border-radius: 8px;
		}
	}
}

@media screen and (max-width: 989.98px) {

	.swiper-button-next {
		right: 0;
	}

	.swiper-button-prev {
		left: 0;
	}

	.main {

		&__contact {
			padding: 2em 0;
		}
	}

}

@media screen and (max-width: 769.98px) {

	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}

	.navigation {
		opacity: 1;

		&__wrapper {
			gap: 30px;
		}

		&__block {
			@include mix.displayFlex(flex, start, center);
			gap: 0 30px;
		}

		&__buttons {
			gap: 1.5em;
		}

		&__button {
			max-width: 160px;
			padding: 1.2em 1em;
		}
	}

	.phone {
		&__link {
			font-size: 14px;
		}
	}

	.fullscreen {
		&__wrapper-image {
			height: 300px;
			margin: 0;
		}
	}
}

@media screen and (max-width: 569.98px) {
	.container {
		padding: 0 1em;
	}

	.fullscreen {
		&__feature-body {
			display: none;
		}

		&__buttons {
			width: 100%;
			gap: 20px;
		}
	}

	.card {
		&__title-wrapper_services {
			transform: translateY(73%);
		}

		&__title-wrapper_services-list {
			transform: translateY(0);
		}
	}

	.footer {
		&__logo {
			display: block;
			flex: 0 1 100px;
		}
	}
}

@media screen and (max-width: 429.98px) {

	.navigation {
		&__buttons {
			gap: 10px;
		}
	}

	.footer {
		&__wrapper {
			display: block;
		}

		&__requisites {
			margin-bottom: 1em;
			text-align: center;
		}

		&__copyright {
			text-align: center;

			&>p {
				margin-bottom: 1em;
			}
		}
	}

}

@media screen and (max-width: 319.98px) {
	.container {
		padding: 0 0.5em;
	}

	.wrapper-bcard {
		padding: 0;
	}

	.social-bgcard {
		&__list {
			display: block;

			&>li {
				margin-bottom: 1em;
			}
		}
	}
}

@media (any-hover: none) and (orientation: landscape) {}