@use './base/variable' as var;
@use '../../node_modules/normalize.css/normalize.css';
@use '../../node_modules/aos/dist/aos.css';
@use './fonts.scss';
@use 'global-style';
@use 'privacy/privacy';
@use './modules/form';
@use './modules/swiper';
@use './modules/cards';
@use './modules/ticker';
@use './modules/scroll-animation';
@use './modules/scrollbar';
@use './modules/button-up';
@use './modules/general-button';
@use './modules/subtitle';
@use './modules/social';
@use './modules/logo';
@use './layout/header';
@use './index/main';
@use './layout/footer';
@use './modules/burger';
@use 'responsive';